<%= form_with(model: @blogs, local: true) do |f| %>
  <% if @blogs.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blogs.errors.count %>errors occurred.</h2>
      <ul>

      <% @blogs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title,class:'form-control' %>
  </div>

  <div class="form">
    <%= f.label :content %>
    <%= f.text_field :content,class:'form-control' %>
  </div>

  <div class="form">
    <%= f.label :sort_expired,"Date" %>
    <%= f.date_field :deadline,class:'form-control' %>
  </div>

  <div>
    <%= f.label :status, "Status" %>
    <%= f.select :status, ['Off','Pending','In motion'],{include_blank: 'Select Box'} %>
  </div>

  <div>
    <%= f.label :priority, "Priority" %>
    <%= f.select :priority, ['Low','Medium','High']%>
  </div>

 

  <%= f.submit class:'btn btn-primary btn-block' %>
<% end %>

<%= link_to "Return to List of duffs screen", blogs_path %>
<%= t('blog.index') %>