<h1 class="my-4">List of Posts</h1>




<%= form_with(url: blogs_path, method: :get, local: true) do |form| %>
  <%= form.label :title_key, 'Title search' %>
  <%= form.text_field :title %>

   <%= form.label :status_key, 'Status search'%>
   <%= form.select :status,[["Off", "0"],["Pending","1"],["In motion","2"]], include_blank: true  %>
   <%= form.hidden_field :search, value: 'true' %>

   <%= form.submit 'search' %>
<% end %>

<% @blogs.each do |blog| %>
 <table>
<div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= blog.title %></h4>
          <div class="card-body">
            <p class="card-text">
 <p>Title:　<%= blog.title %></p> 
   <p>Content:　<%= blog.content %></p>                    
 <p>Deadline:　<%= blog.deadline %></p>
    <p>Status:　<%= blog.status %></p>

   <td><%= link_to 'Check the details', blog_path(blog.id) %></td>
   
  
    <td><%= link_to link_to "Edit this duff", edit_blog_path(blog.id) %></td>
    <td><%= link_to link_to 'Delete this duff', blog_path(blog.id), method: :delete ,data: {confirm: 'Are you sure?'} %></td>
    
  </tr>
<% end %>
 
</table>


  <br>
<% if params[:search] != "true" %>
 <%= link_to "Sort by expiration ", blogs_path(sort_expired: "true"), class:"btn btn-lg btn-secondary btn-block" %>
 
<% else %>
 <%= link_to 'Display all tasks', blogs_path, class:"btn btn-lg btn-secondary btn-block" %>
<% end %>
<br>

<%= link_to 'New Post', new_blog_path %>
<%= t('blog.index') %>