<h1 class="my-4">List of Posts</h1>




<%= form_with(model: Blog.new, url: blogs_path, local: true, method: :get) do |form| %>
  <div class="border border-primary rounded p-2">
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :status %>
      <%= form.select :status, Blog.statuses.map { |k, v| [t("activerecord.status.#{k}"), v] }
                                  .unshift([t("activerecord.status.none"), -1]) %>
    </div>

   <%= form.submit 'search' %>
  </div>
<% end %>

<% @blogs.each do |blog| %>
 <table>
<div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= blog.title %></h4>
          <div class="card-body">
            <p class="card-text">
 <p>Title:　<%= blog.title %></p> 
   <p>Content:　<%= blog.content %></p>                    
 <p>Deadline:　<%= blog.deadline %></p>
    <p>Status:　<%= blog.status %></p>
    <p>Priority:　<%= blog.priority %></p>        

   <td><%= link_to 'Check the details', blog_path(blog.id) %></td>
   
  
    <td><%= link_to link_to "Edit this duff", edit_blog_path(blog.id) %></td>
    <td><%= link_to link_to 'Delete this duff', blog_path(blog.id), method: :delete ,data: {confirm: 'Are you sure?'} %></td>
    
  </tr>
<% end %>
 
</table>


  <br>
<% if params[:search] != "true" %>
 <%= link_to "Sort by expiration ", blogs_path(sort_expired: "true")  %>
  <%= link_to "Sort in order of priority", blogs_path(sort_priority: "true") %>
 
<% else %>
 <%= link_to 'Display all blogs', blogs_path %>
<% end %>
<br>

<%= link_to 'New Post', new_blog_path %>
<%= t('blog.index') %>