

<div class="row">
    <div class="col-lg-8 mb-4">
     <h1>Blog Detail Screen </h1>
      <p>Title: <%= @blog.title %></p>
      <p>Content: <%= @blog.content %></p>
      <p>Deadline: <%= @blog.deadline %></p>
      <p>Status: <%= @blog.status %></p>
      <p>Priority: <%= @blog.priority %></p>
      
      <br>
      <%= link_to 'Blog list screen', blogs_path,class:"btn btn-primary", id:"sendMessageButton" %>
    </div>
  </div>
<%= t('blog.index') %>