<!DOCTYPE html>
<html>
  <head>
    <title>El-Training</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
 
  <body>
      <div class="container">
    <%= yield %>
    </div>
    
    <footer class="footer text-center">
      <div class="container">
        <p class="text-muted">DIVE INTO ROBERT CORP.</p>
      </div>
    </footer>
  </body>
    
  </body>
</html>
